<!DOCTYPE html>
<html>
<head>
  <title>Cursorails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>   
	<li><%= link_to_unless_current("Inicio", :action=>"index") %></li>
	<li><%= link_to_unless_current("Localizacion", :action=>"localizacion") %></li>
	<li><%= link_to_unless_current("Servicios", :action=>"servicios") %></li>
	<li><%= link_to_unless_current("Quines Somos", :action=>"quienes_somos") %></li>
	<li><%= link_to_unless_current("Contacto", :action=>"contacto") %></li>
</ul>	

<%= yield %>

</body>
</html>
